
@{
    ViewData["Title"] = "Numbers";
    int maxNumber = int.Parse(ViewData["MaxNumber"].ToString());
}

<h2>Numbers from 1 to @maxNumber</h2>

<form action="/Home/Numbers" method="get">
    Max number: <input name="id" value="0" placeholder="Please enter max number" />
    <input type="submit" />
</form>

<br />

@for (int i = 1; i <= maxNumber; i++)
{
    <p>@i => @(i * i) => @Math.Sqrt(i)</p>
}

