{{>header}}
<div id="myMovies">
    <h1>My Movies</h1>
    <div class="movies">
        {{#unless myMovies}}
        <h2>There are not any movies.</h2>
        {{/unless}}
        {{#each myMovies}}
        {{> myMovie}}
        {{/each}}
    </div>
</div>
{{>footer}}